<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--&lt;!&ndash;Servlet_8_1&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_1</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_1</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet_8_1</servlet-name>-->
        <!--<url-pattern>/club/anlan/Servlet_8_1</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;Servlet_8_21&ndash;&gt;-->
    <servlet>
        <servlet-name>ser</servlet-name>
        <servlet-class>club.anlan.ser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ser</servlet-name>
        <url-pattern>/club/anlan/ser</url-pattern>
    </servlet-mapping>

    <!--&lt;!&ndash;Servlet_8_22&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_22</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_22</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet_8_22</servlet-name>-->
        <!--<url-pattern>/club/anlan/Servlet_8_22</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;Servlet_8_23&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_23</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_23</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet_8_23</servlet-name>-->
        <!--<url-pattern>/club/anlan/Servlet_8_23</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;Servlet_8_31&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_31</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_31</servlet-class>-->
        <!--&lt;!&ndash;设置局部参数&ndash;&gt;-->
        <!--<init-param>-->
            <!--<param-name>driverClassName</param-name>-->
            <!--<param-value>com.mysql.jdbc.Driver</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>url</param-name>-->
            <!--<param-value>jdbc:mysql://localhost:3306/web7</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>username</param-name>-->
            <!--<param-value>root</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>password</param-name>-->
            <!--<param-value>255211</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet_8_31</servlet-name>-->
        <!--<url-pattern>/club/anlan/Servlet_8_31</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;Servlet_8_32&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_32</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_32</servlet-class>-->
        <!--&lt;!&ndash;设置局部参数&ndash;&gt;-->
        <!--<init-param>-->
            <!--<param-name>driverClassName</param-name>-->
            <!--<param-value>com.mysql.jdbc.Driver</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>url</param-name>-->
            <!--<param-value>jdbc:mysql://localhost:3306/web7</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>username</param-name>-->
            <!--<param-value>root</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>password</param-name>-->
            <!--<param-value>255211</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ser</servlet-name>-->
        <!--<url-pattern>/club/anlan/ser</url-pattern>-->
    <!--</servlet-mapping>-->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--<filter>-->
        <!--<filter-name>Filter_8_5</filter-name>-->
        <!--<filter-class>club.anlan.Filter_8_5</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>Filter_8_5</filter-name>-->
        <!--<url-pattern>/8_5_welcome.jsp</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>Servlet_8_5</servlet-name>-->
        <!--<servlet-class>club.anlan.Servlet_8_5</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet_8_5</servlet-name>-->
        <!--<url-pattern>/club/anlan/Servlet_8_5</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
