
#photos * {
    margin: 0;
    padding: 0;
  }
  #photos {
    width: 680px;
    margin: 0 auto 50px auto;
  }
  @media screen and (max-width: 1120px) {
    #photos {
      width: 840px;
    }
  }
  @media screen and (max-width: 840px) {
    #photos {
      width: 560px;
    }
  }
  @media screen and (max-width: 560px) {
    #photos {
      width: 280px;
    }
  }
  /*------LIST------*/
  #photos .u1 {
    list-style-type: none;
  }
  #photos .l1 {
    width: 100px;
    height: 82px;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 5px;
    background-clip: padding-box;
    margin: 5px;

  }

  #photos img{
    width:160px;
    height:120px;
    position:absolute;
    box-shadow:0 0 5px #eaeaea;
    box-shadow: 1px -1px 6px #666;
    border-radius:4px;
    -webkit-box-reflect:below 3px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5));
    cursor:pointer;
    padding:5px;
    background:transparent;
    background-clip: padding-box;
 }

  #photos .li:hover {
    cursor: pointer;
    /* box-shadow: 3px -3px 6px #504f4f; */
    border-radius: 4px;
  }

 