* {
    padding:0px;margin:0px;
} /*这是为了消除默认dom元素的内外边距，使得我们写css的时候更精确*/

body {
    background:#000;
}

#photos {
    width:192px;            /*宽度*/
    height:115px;          /*高度*/
    margin:160px auto;     /*水平居中，高度距离顶部100px*/
    /* transform:rotateY(0deg); */
    transform:rotateY(-10deg);
    transform-style:preserve-3d;/*设置3d环境*/
}

#photos img{
    width:100%;
    height:100%;
    position:absolute;
    box-shadow:0 0 8px #eaeaea;
    box-shadow: 1px -1px 6px #666;
    border-radius:4px;
    -webkit-box-reflect:below 3px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5));
    cursor:pointer;
    padding:10px;
    background:transparent;
    background-clip: padding-box;
}

/* .d1{
    width:1200px;
    height:1200px;
    border-radius:50%;
    position:absolute;
    top:102%;
    left:50%;
    margin-left:-700px;
    margin-top:-600px;
    transform:rotateX(90deg);
    background:-webkit-radial-gradient(center center,600px 600px,rgba(158,158,222,0.5),rgba(0,0,0,0));
} */
