
.div1{
    background-color: #13a7a7;
    color: #000000;
    text-align:justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: double;
    height:20px;
}

