.edit{
    display: block;
    width: 80%;
    height: 35px;
    line-height: 35px;
    margin: 30px auto;
    box-sizing: border-box;
    padding-left: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    outline: 0;
    box-shadow: 0 0 5px #ccc;
 }

 .list{
     margin: 0 auto;
     width: 80%;
 }

 .unit{
     position: relative;
     padding: 10px 0;
     border-bottom: 1px solid #efefef;
 }

 .unit:last-child{
     border-bottom: 0;
 }

 .finish{
     text-decoration: line-through;
     color: #ccc;
 }

 .del{
    background: red;
    text-decoration: none;
    position: absolute;
    right:0;
    font-size: 12px;
    border: 0;
    outline: 0;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
 }

 .empty{
     font-size: 13px;
     color: #ccc;
     text-align: center;
     padding: 10px 0;
 }